.container-center{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

.login{
    height: fit-content;
    background-color: #eaeaec;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-area{
    padding: 0 20px;
    background: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-area img{
    width: 300px;
    padding: 20px;
}

form{
    margin-top: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
}

form h2{
    margin-bottom: 1rem;
    text-align: center;
    color: #181c2e;
}

.login input{
    margin-bottom: 1.3rem;
    border: 0;
    border-radius: 4px;
    height: 35px;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
}

form button{
    font-family: 'Raleway', sans-serif;
    height: 45px;
    border: 0;
    border-radius: 4px;
    background-color: #181c2e;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 0;
}

.login a{
    margin: 1.5rem 0;
    color: blue;
    cursor: pointer;
}

@media only screen and (max-width: 650px){
    .login{
        width: 400px;
    }
}

@media only screen and (max-width: 450px){
    .login{
        width: 300px;
    }

    .login h1{
        font-size: 1.5rem;
        text-align: center;
    }
}

@media only screen and (max-width: 350px){
    .login{
        width: 260px;
    }
}