*{
  box-sizing: border-box;
}

body{
  display: flex;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

button:hover{
  cursor: pointer;
}